@{
    ViewData["Title"] = "Confirmation";
}
<div class="text-center m-4">
    <h3>Your changes have been made!</h3>
    <a class="btn btn-md btn-primary m-2" asp-controller="home" asp-action="admin">Go Back To Admin Table</a>
</div>
